text {
    font-family: Verdana;
}
/* Indicator */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}

/* Font on Indicator */
.customFont {
    font-family: 'Press Start 2P', cursive;
    font-weight : bold;
    /*pointer-events: none;*/
}
